#topbar
{
width:1000px;
height:40px;
background-color:#FFFFFF;
margin:0 auto;
border-top:1px black solid;

}
body{
padding:0;
margin:0;}
.logo
{
margin-top:5px;
margin-right:10px;
float:left;
width:70px;
}

#Sighn
{float:left;
border-left:1px grey solid;
height:20px;
font-size:75%;
font-weight:bold;
padding:11px 13px;

}
#class-container{
float:left;
border-left:1px grey solid;
height:20px;
padding:11px 13px;
font-weight:bold;
font-size:75%;}
#search{
float:left;
border-left:1px grey solid;
height:27px;
padding:5px;
}
.searchtext{
margin:3px 0 3px 3px;
font-size:14px;
font-weight:bold;
border:none;
background-color:#E4E4E4;

}

.searchbox
{margin-top:5px;
background-color:#E4E4E4;
margin-left:0;}
}
.clear{
clear:both;
}
#menu-bar-container
{
border-top:1px grey solid;
background-color:#BB1919;
width:100%;
height:70px;
}
#menu-bar{
width:1000px;
margin:0 auto;

}
h1{

padding:0;
margin:0;
color:white;
font-size:40px;
font-weight:normal;
padding-top:10px;
}
#localnews
{float:right;
width:180px;
border:1px grey solid;

position:relative;
top:-30px;

}
#localnews a{
color:white;
text-decoration:none;
font-size:25px;

}
#localnews a:hover
{text-decoration:underline:
}

#last-bar-container
{width:100%;
border-top:1px grey solid;
height:46px;
background-color:#A91717;
padding:0;
margin:0 auto;
}
#last-bar{
width:1000px;
margin:0 auto;

}
#last-content a
{float:left;
border-right:1px grey solid;
height:25px;
padding:0 10px;
font-size:75%;
color:white;
text-decoration:none;
position:relative;
top:10px;}
#last-content a:hover
{text-decoration:underline;}
.no-border{border:none!important;}
#page-container
{padding:0;
width:100%;
margin:0 auto;

}
#main-body-part
{
width:1000px;
margin:0 auto;
border-right:1px grey solid;
}
h2{
font-weight:normal;
margin-top:20px;
font-size:20px;
border-bottom:4px solid red;
width:100px;}
h3 a
{text-decoration:none;
color:black;
font-size:200%;}
h3 a:hover{
text-decoration:underline;
color:blue;}

  #text-body{
width:1000px;
margin:0 auto;
height:100px;}
#text-content{
width:100px;
height:150px;}
#text-part{width:240px;
}

#summary-text
{
position:relative;
top:20px;
width:240px;

}
p2 a{
color:red;
text-decoration:none;
border-left:1px grey solid;
}

p2 a:hover{
text-decoration:underline;
color:blue;}
#picture-asd{
float:right;
height:150px;
padding:0;
position:relative;
top:-105px;
}
.img-asd{
float:right;
width:200px;
height:200px;}










