.red{
color:white;
background-color:purple;
width:450px;
text-align:centre;
float:left;
position:relative;
left:-25px;
top:50px;
}
.underline{
text-decoration:underline;
color:#EA5419;
width:450px;
float:left;
position:relative;
left:100;
top:-100px;
margin:100px
}

#first-list{
width:450px;
float:left;
position:relative;
left:100px;
top:-100px;
margin:100px;
padding:5px;
}
.blue{
width:450px;
color:white;
background-color:pink;
float:left;
padding:10px;
body{
padding:0;
margin:0;
}
p{
padding:0;
margin:0;
}
}
.clear-float
{
clear:both;
width:450;
color:blue;
background-color:#EEEEEE;
position:relative;
left:550px;
} 
